/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-info {
    display: flex;
    flex-wrap: wrap;
    margin: 4.5rem 0 3rem;
    font-size: 1rem;
    
    p {
      flex: 0 1 100%;
      line-height: 1;
    }

  }
  
  .footer-navigation {

    display: inline-flex;
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;
  
      li {
          border-right: 1px solid white;
          line-height: 1;
      padding: 0 round( $base__space-unit * .6667 );
      
      &:first-child {
        padding-left: 0;
      }
  
      &:last-child {
        border-right: 0;
      }
  

      }
  }
