// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #212121;
$color__text-main: #ffffff;
$color__text-alt: #00cc00;

$color__background-screen: #f1f1f1;
$color__text-screen: #ffff;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: $color__text-alt;
$color__link-visited: $color__text-alt;
$color__link-hover: rgb(34, 143, 1);

// Typography

$font__main: "Exo",serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font-size: 16px;
